@font-face {
    font-family: 'FiraSans';
    src:         url('./fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
                 url('./fonts/FiraSans-Regular.woff') format('woff'),
                 url('./fonts/FiraSans-Regular.ttf') format('truetype'),
                 url('./fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: 400;
    font-style:  normal;
}


@font-face {
    font-family: 'FiraSans';
    src:         url('./fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
                 url('./fonts/FiraSans-ExtraBold.woff') format('woff'),
                 url('./fonts/FiraSans-ExtraBold.ttf') format('truetype'),
                 url('./fonts/FiraSans-ExtraBold.svg#FiraSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style:  normal;
}

@font-face {
    font-family: 'FiraSans';
    src:         url('./fonts/FiraSans-Black.eot?#iefix') format('embedded-opentype'),
                 url('./fonts/FiraSans-Black.woff') format('woff'),
                 url('./fonts/FiraSans-Black.ttf') format('truetype'),
                 url('./fonts/FiraSans-Black.svg#FiraSans-Black') format('svg');
    font-weight: 900;
    font-style:  normal;
}

@font-face {
    font-family: 'Muller';
    src:         url('./fonts/MullerLight.woff2') format('woff2'),
                 url('./fonts/MullerLight.woff') format('woff'),
                 url('./fonts/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style:  normal;
}

@font-face {
    font-family: 'Muller';
    src:         url('./fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
                 url('./fonts/MullerRegular.otf') format('opentype'),
                 url('./fonts/MullerRegular.woff') format('woff'),
                 url('./fonts/MullerRegular.ttf') format('truetype'),
                 url('./fonts/MullerRegular.svg#MullerRegular') format('svg');
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
         url('./fonts/MullerBlack.woff') format('woff'),
         url('./fonts/MullerBlack.ttf')  format('truetype'),
         url('./fonts/MullerBlack.svg#MullerBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('./fonts/Montserrat-ExtraBold.ttf')  format('truetype'),
         url('./fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}